cloud_kubernetes/n8n-kubernetes-option2.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "bucketName": "={{ $json.body.Records[0].s3.bucket.name }}",
        "fileKey": "={{ $json.body.Records[0].s3.object.key }}"
      },
      "id": "d313fa55-dc40-42f4-9ded-236c7cf2b142",
      "name": "S3",
      "type": "n8n-nodes-base.s3",
      "typeVersion": 1,
      "position": [
        680,
        620
      ],
      "credentials": {
        "s3": {
          "id": "3mcgsQZenJ47M9ih",
          "name": "Unnamed credential"
        }
      }
    },
    {
      "parameters": {
        "operation": "resize",
        "width": 400,
        "height": 400,
        "resizeOption": "ignoreAspectRatio",
        "options": {}
      },
      "id": "40d655ec-0c44-4ea6-a969-8f4c99f293ff",
      "name": "Edit Image",
      "type": "n8n-nodes-base.editImage",
      "typeVersion": 1,
      "position": [
        860,
        620
      ]
    },
    {
      "parameters": {
        "operation": "multiStep",
        "operations": {
          "operations": [
            {
              "operation": "create",
              "backgroundColor": "#000000ff",
              "width": 400,
              "height": 400
            },
            {
              "operation": "draw",
              "primitive": "circle",
              "color": "#ffffff00",
              "startPositionX": 200,
              "startPositionY": 200,
              "endPositionX": 50,
              "endPositionY": 100
            },
            {
              "operation": "composite",
              "dataPropertyNameComposite": "data",
              "operator": "In"
            }
          ]
        },
        "options": {}
      },
      "id": "745c8b49-e19a-429c-84eb-68d5629b8b07",
      "name": "Edit Image1",
      "type": "n8n-nodes-base.editImage",
      "typeVersion": 1,
      "position": [
        1080,
        620
      ]
    },
    {
      "parameters": {
        "operation": "upload",
        "bucketName": "final",
        "fileName": "={{ $json.body.Records[0].s3.object.key }}_circled.png",
        "additionalFields": {}
      },
      "id": "2f7d12f1-3dc2-4a42-b174-b402196e2903",
      "name": "S31",
      "type": "n8n-nodes-base.s3",
      "typeVersion": 1,
      "position": [
        1300,
        620
      ],
      "credentials": {
        "s3": {
          "id": "3mcgsQZenJ47M9ih",
          "name": "Unnamed credential"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "80dbcb9c-69ec-4ab9-b1b5-b08c03736543",
        "options": {}
      },
      "id": "c45923de-55ec-4cf2-b680-ea49843532db",
      "name": "Webhook Initial",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        460,
        460
      ],
      "webhookId": "80dbcb9c-69ec-4ab9-b1b5-b08c03736543"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "a3cacfa9-4baf-48d9-96ee-9dc1063823e2",
        "options": {}
      },
      "id": "272f8bd0-fb0b-4130-8b22-68eaee1054ee",
      "name": "Webhook Grayscale",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        460,
        620
      ],
      "webhookId": "a3cacfa9-4baf-48d9-96ee-9dc1063823e2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://kubernetes:5000/grayscale",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "filename",
              "value": "={{ $json.body.Records[0].s3.object.key }}"
            }
          ]
        },
        "options": {}
      },
      "id": "6333f854-857a-4ed8-802e-7cb76e5c7a27",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        680,
        460
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "S3": {
      "main": [
        [
          {
            "node": "Edit Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Image": {
      "main": [
        [
          {
            "node": "Edit Image1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Image1": {
      "main": [
        [
          {
            "node": "S31",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Grayscale": {
      "main": [
        [
          {
            "node": "S3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Initial": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "542be25a-f45b-4d61-89e4-d0ea921426f2",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "81261cf8536573d007ceef93637887c7d77a4d0464e4503f436c9973b43f0092"
  },
  "id": "T9rXSSY1Jke0wOZy",
  "tags": []
}